{% extends "base.html" %}
{% block title %}Retrieve CollectUsers{% endblock %}
{% block content %}
<h1 class="display-4">Food Collection Approved Partners</h1>
<div>
    {% if count == 0 %}
    <p>No partners have joined yet.</p>
    {% elif count == 1 %}
    <p>There is 1 approved partner.</p>
    {% else %}
    <p>There are {{ count }} approved partners.</p>
    {% endif %}
</div>
<style>
    .btn-success.active {
        background-color: white;
        color: green;
        border: 1px solid green;
    }

    /* Default style for the button */
    .btn-success {
        background-color: green;
        color: white;
    }

    /* Hover state */
    .btn-success:hover {
        background-color: lightgreen;
        color: green;
    }
</style>

<div class="d-flex align-items-center gap-3 mb-3">
    <a href="{{ url_for('approved_partners') }}" 
       class="btn btn-success {% if request.endpoint == 'approved_partners' %}active{% endif %}">
       View Approved Partners
    </a>
    <a href="{{ url_for('Ad_collect') }}" 
       class="btn btn-success {% if request.endpoint == 'Ad_collect' %}active{% endif %}">
       Pending Requests
    </a>
</div>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Business Name / Individual Name</th>
            <th>Email</th>
            <th>Type</th>
            <th>Method</th>
            <th>Time</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        {% for partner in partners_list %}
        <tr>
            <td>{{ partner.get_collect_id() }}</td>
            <td>{{ partner.get_name() }}</td>
            <td>{{ partner.get_email() }}</td>
            <td>{{ partner.get_type() }}</td>
            <td>{{ partner.get_method() }}</td>
            <td>{{ partner.get_time() }}</td>
            <td>{{ partner.get_address()}}</td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
