{% extends "base.html" %} {% block content %}
{% from "includes/_formHelper.html" import render_field %}
<style>
  .btn-success.active {
      background-color: white;
      color: green;
      border: 1px solid green;
  }

  /* Default style for the button */
  .btn-success {
      background-color: green;
      color: white;
  }

  /* Hover state */
  .btn-success:hover {
      background-color: lightgreen;
      color: green;
  }
</style>

<div class="d-flex justify-content-between">
  <h1>Inventory</h1>
  <div>
    <a href="{{url_for('product_management')}}">Manage Products</a>
    <a class="btn btn-secondary" href = "{{url_for('export_inventory')}}">Export Inventory</a>
  </div>
</div>
<div>
  <a href="{{url_for('inventory')}}" class = "px-3">View Inventory</a>
  <a href="{{url_for('pending_stock')}}" class = "px-3">View Incoming Stock</a>
  <a href="{{url_for('view_stock')}}" class = "px-3">View Stock Audit</a>
</div>
<div>
  <table class="table table-striped">
    <thead>
    	<tr>
			<th></th>
        	<th><h4>Product ID</h4></th>
        	<th><h4>Name</h4></th>
            <th><h4>Status</h4></th>
        	<th><h4>Count</h4></th>
    	</tr>
    </thead>
    <tbody>
    	{% for product in products_list %}
    	<tr>
			<td><img src="{{ url_for('static', filename=product.display_first_img())}}" 
				alt="{{ product.get_name() }}" style="width: 50px; height: 50px;">
			</td>
        	<td>{{product.get_product_id()}}</td>
        	<td>{{product.get_name()}}</td>
            <td>{% if product.get_qty()|int !=0 %}
                <span class="badge bg-success">In Stock</span>
                {% else %}
                <span class="badge bg-danger">Out of Stock</span>
                {% endif %}
            </td>
        	<td>{{product.get_qty()}}</td>
    	</tr>
		{% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}