{% extends "base.html" %} {% block content %}
<div class="d-flex justify-content-between">
  <h1>Product Management</h1>
  <div>
    <a href="{{url_for('create_product')}}">Create Product</a>
    <button class="btn">Export</button>
  </div>
</div>
<div>
  <table class="table table-striped">
    <thead>
    	<tr>
			<th></th>
        	<th><h4>Product ID</h4></th>
        	<th><h4>Name</h4></th>
        	<th><h4>Description</h4></th>
        	<th><h4>Selling Price</h4></th>
        	<th><h4>Cost Price</h4></th>
			<th>
				<h4>Visible</h4>
			</th>
    	</tr>
    </thead>
    <tbody>
    	{% for product in products_list %}
    	<tr>
			<td><img src="{{ url_for('static', filename='images/' +  product.get_image()) }}" 
				alt="{{ product.get_name() }}" style="width: 50px; height: 50px;">
			</td>
        	<td>{{product.get_product_id()}}</td>
        	<td>{{product.get_name()}}</td>
        	<td>{{product.get_description()}}</td>
        	<td>{{product.get_selling_price()}}</td>
        	<td>{{product.get_cost_price()}}</td>
			<td>
				{% if product.get_visible() %}
					Yes
				{% else %}
					No
				{% endif %}
			</td>
        	<td>
				<div class="btn-group gap-2">
					<a href="/update-product/{{product.get_product_id()}}" 
					   class="btn btn-warning">Update</a>
					<form action= "" method="POST" class="d-inline">
						<!--When clicked go to delete_product and pass product id as variable -->
						<button type="button" 
								class="btn btn-danger" 
								data-bs-toggle="modal"
								data-bs-target="#myModal_{{product.get_product_id()}}">
							Delete
						</button>
					</form>
				</div>

        	    <!--THE MODAL-->
        	    <div class="modal" id="myModal_{{product.get_product_id()}}">
        	      <div class="modal-dialog">
        	        <div class="modal-content">
					
        	          <!-- Modal Header -->
        	          <div class="modal-header">
        	            <h4 class="modal-title">Delete Confirmation</h4>
        	            <button type="button" class="btn-close" data-bs-dismiss="modal">
						</button>
        	          </div>

        	          <!-- Modal body -->
        	          <div class="modal-body">
        	            Are you sure you want to delete Product ID {{product.get_product_id()}}: {{product.get_name()}}?
        	          </div>
        	          <!-- Modal footer -->
        	          <div class="modal-footer">
						<form action="{{url_for('delete_product', id = product.get_product_id())}}" 
						method="POST">
        	            <input type="submit" value="Delete" class="btn btn-danger"/>
						</form>
        	            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        	            	Cancel
        	            </button>
        	          </div>
        	        </div>
        	      </div>
        	    </div>
        		</form>
        	</td>
    	</tr>
		{% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
