{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/' + product.get_image()) }}" 
                alt="{{ product.get_name() }}" class="img-fluid" style="width: 100%; height: 500px;">
        </div>
        <div class="col-md-6">
            <h2>{{ product.get_name() }}</h2>
            <p>{{ product.get_description() }}</p>
            <h4 class = "pt-5">Price: {{ product.get_selling_price() }}</h4>
            <div class="d-flex">
                <a href="#" class="btn btn-primary me-2">Add to cart</a>
                <a href="#" class="btn btn-secondary">Buy now</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
