{% extends "base.html" %} {% block content %}
{% from "includes/_formHelper.html" import render_field %}
<style>
  .btn-success.active {
      background-color: white;
      color: green;
      border: 1px solid green;
  }

  /* Default style for the button */
  .btn-success {
      background-color: green;
      color: white;
  }

  /* Hover state */
  .btn-success:hover {
      background-color: lightgreen;
      color: green;
  }
</style>

<div class="d-flex justify-content-between">
  <h1>Inventory</h1>
  <div>
    <a href="{{url_for('product_management')}}">Manage Products</a>
    <button class="btn">Export Inventory</button>
  </div>
</div>
<div>
  <a href="{{url_for('inventory')}}" class = "px-3">View Inventory</a>
  <a href="{{url_for('pending_stock')}}" class = "px-3">View Incoming Stock</a>
  <a href="{{url_for('view_stock')}}" class = "px-3">View Stock Audit</a>
</div>
<div>
  <table class="table table-striped">
    <thead>
    	<tr>
			<th>Date Confirmed</th>
        	<th><h4>Product ID</h4></th>
        	<th><h4>Name</h4></th>
            <th><h4>Count</h4></th>
                
    	</tr>
    </thead>
    <tbody>
        {% for stock in stock_list %}
        {% if stock.get_confirmed_status() %}
        <tr>
            <td>{{stock.get_date()}}</td>
        	<td>{{stock.get_product_id()}}</td>
        	<td>{{stock.get_product_name()}}</td>
        	<td>{{stock.get_quantity()}}</td>
        </tr>
        {% endif %}
		{% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}