.navbar-custom {
    background-color: #587f37;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
    }
.navbar-custom .nav-link {
    color: white;
    }
.navbar-custom .nav-link:hover {
    color: #d4e8c5;
    }

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.rounded-circle {
    border-radius: 50%;
    object-fit: cover; /* Ensures the image fits properly */
}


/* css for product listing */
.custom-container{
    gap: 20px;
    width: 90%;
    margin: 0 auto;
}

.card a{
    text-decoration: none;
    display: block; /* Make the link cover the entire card */
    height: 100%; 
    width: 100%;
}

.card-title, .card-text{
    color: black;
}

.product-wrapper:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.product-list-image{
    width: 100%;
    height: 200px;
}

.rating-wrapper img {
    filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(161deg) brightness(101%) contrast(104%);
    padding-right: 3px;
  }
  
  .rating-checked { 
    filter: none!important; /* Remove the filter when star is checked */
  }

  #products_list {
    justify-content: center !important;
}

/* Sidebar Styles */
#sidebar {
    width: 200px;
    background-color: #587f37;
    color: white;
    height: 100vh;
    overflow: hidden;
    position: fixed; /* Ensure it starts from the left edge */
    left: 0; /* Remove white space */
    transition: width 0.3s ease;
}

/* When sidebar is collapsed */
#sidebar.collapsed {
    width: 5px;
}

/* Hide sidebar content when collapsed */
#sidebar-content {
    padding: 10px;
}

#sidebar.collapsed #sidebar-content {
    display: none;
}

/* Sidebar Toggle Button */
.sidebar-toggle {
    position: fixed;
    top: 50%;
    left: 200px; /* Positioned outside expanded sidebar */
    transform: translateY(-50%);
    background-color: white;
    border: 2px solid #587f37;
    color: #587f37;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 18px;
    transition: all 0.3s ease;
}

/* Hover Effect */
.sidebar-toggle:hover {
    background-color: #f1f1f1;
    color: #333;
}

/* Adjust button position when sidebar is collapsed */
#sidebar.collapsed + .sidebar-toggle {
    left: 10px; /* Keep it visible outside */
}

/* Default Main Content Styling (When Sidebar is Present) */
#main-content {
    margin-left: 200px;
    transition: margin-left 0.3s ease;
    
}

/* When Sidebar is Collapsed */
#sidebar.collapsed + #main-content {
    margin-left: 5px;
}

/* When No Sidebar Exists (Non-Admin Users) */
.no-sidebar #main-content {
    margin-left: 0 !important;
}

#imageUploadModal{
    padding-top: 50px;
}
