{% if session.get('is_admin') %}
<h2>Sales</h2>
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a href="#" class="nav-link text-white">Orders</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('product_management')}}" class="nav-link text-white">Manage Products</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('inventory')}}" class="nav-link text-white">Inventory</a>
    </li>
    <li class="nav-item">
        <a href="{{ url_for('manage_users') }}" class="nav-link text-white">Manage Users</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('create_admin')}}" class="nav-link text-white">Admin Account Creation</a>
    </li>
    <li class="nav-item">
        <a href="fwfuser_ADretrieve" class="nav-link text-white">Food Waste Friday</a>
    </li>
    <li class="nav-item">
        <a href="Rcollect_Admin" class="nav-link text-white">Food Collection</a>
    </li>
    <li><a class="nav-link text-white" href="/N">Waste & Fertiliser Report</a></li>
</ul>
{% endif %}